*.o
*.swp
*.bak
*.a

/libloragw/test_loragw_cal
/libloragw/test_loragw_gps
/libloragw/test_loragw_hal
/libloragw/test_loragw_reg
/libloragw/test_loragw_spi
/util_lbt_test/util_lbt_test
/util_pkt_logger/util_pkt_logger
/util_spectral_scan/util_spectral_scan
/util_spi_stress/util_spi_stress
/util_tx_continuous/util_tx_continuous
/util_tx_test/util_tx_test
